# Environnement virtuel
hypenv/

# Données hyperspectrales (ignorer le contenu, pas le dossier)
Data/*
!Data/.gitkeep

# Résultats générés (ignorer le contenu, pas le dossier)
Results/*
!Results/.gitkeep

# Fichiers Python temporaires
__pycache__/
*.pyc

# Fichiers système
.DS_Store
Thumbs.db
